<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<!--<add name="postgres" connectionString="Server=dev.kjeldcon.se;Port=5432;Userid=monsters;Password=monsters123;Pooling=false;MinPoolSize=1;MaxPoolSize=20;Timeout=15;SslMode=Disable;Database=monsters" providerName="Npgsql" />-->


		<add name="postgres" connectionString="Server=dev.kjeldcon.se;Port=5432;Userid=tiger;Password=tiger123;Pooling=false;MinPoolSize=1;MaxPoolSize=20;Timeout=15;SslMode=Disable;Database=tiger_prod" providerName="Npgsql" />

	</connectionStrings>
</configuration>